.detailedResult {
  position: relative;
  text-align: center;
  height: 115vh;
  width: 100vw;
  background-attachment: fixed;
  color: white;
}

#weatherNameInd {
  font-size: 36px;
  font-weight: 100;
}

#locationNameInd {
  font-size: 24px;
  display: inline-block;
}

#tempDisplayInd {
  font-size: 50px;
  font-family: "bebas_neuebold";
}

#resultLink {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.App-bg-object-detailed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

@font-face {
  font-family: "bebas_neuebold";
  src: url("../../fonts/BebasNeue-Bold.ttf") format("truetype"),
    url("../../fonts/BebasNeue-Book.ttf") format("truetye"),
    url("../../fonts/BebasNeue-Light.ttf") format("truetype"),
    url("../../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
