.resultBlock {
  display: inline-block;
  width: 95%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 10px;
}

.resultLink {
  display: block;
  height: 100%;
  color: white;
  text-decoration: none;
}

.resultBlock :hover {
  display: block;
  height: 100%;
  color: white;
  text-decoration: none;
}

#locationName {
  font-family: "bebas_neuebold";
  font-weight: 500px;
  font-size: 32px;
  float: left;
}

#countryName {
  float: left;
  font-size: 18px;
}

@font-face {
  font-family: "bebas_neuebold";
  src: url("../../fonts/BebasNeue-Bold.ttf") format("truetype"),
    url("../../fonts/BebasNeue-Book.ttf") format("truetye"),
    url("../../fonts/BebasNeue-Light.ttf") format("truetype"),
    url("../../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bebas_regular";
  src: url("../../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.locationInfo {
  float: left;
  width: 60%;
}

.weatherInfo {
  font-family: "bebas_regular";
  float: right;
  width: 40%;
}

.minmax {
  font-size: 21px;
  font-weight: 100;
  display: inline-block;
}

.weatherIcon {
  width: 20px;
}

.tempDisplay {
  font-size: 42px;
  position: relative;
  float: right;
  font-weight: 500;
}
