.resContainer {
  border: 1px solid black;
  width: 80%;
  user-select: none;
}

.inputDisplay {
  color: white;
}

#noResults {
  color: white;
}

#prefWeather {
  font-family: "bebas_neuebold";
  font-size: 72px;
  user-select: none;
}

#prefRange {
  display: inline-block;
  font-weight: 100;
  user-select: none;
}

.rangeDisplay {
  font-size: 24px;
  margin: 0;
}

@font-face {
  font-family: "bebas_neuebold";
  src: url("../../fonts/BebasNeue-Bold.ttf") format("truetype"),
    url("../../fonts/BebasNeue-Book.ttf") format("truetye"),
    url("../../fonts/BebasNeue-Light.ttf") format("truetype"),
    url("../../fonts/BebasNeue-Regular.ttf") format("truetype"),
    url("../../fonts/BebasNeue-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.many-results {
  position: absolute;
  text-align: center;
  height: auto;
  width: 100vw;
  z-index: -1;
  background-attachment: fixed;
}

.few-results {
  position: absolute;
  text-align: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-attachment: fixed;
}
