.ResultComponent {
  position: absolute;
  text-align: center;
  height: auto;
  width: 100vw;
  z-index: -1;
  background-attachment: fixed;
  user-select: none;
}

.WeatherComponent {
  position: relative;
  text-align: center;
  height: 115vh;
  width: 100vw;
  background-attachment: fixed;
  user-select: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-bg-object {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}

.App-bg-object-weather {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}

.Weather-info {
  text-align: center;
}

#Weather-slider {
  width: 12%;
}

.main-info {
  color: white;
  position: relative;
  width: 50%;
  margin: 0 auto;
  z-index: 1;
}

#info-description {
  font-weight: 400;
  font-size: 36px;
}

#info-city {
  font-size: 24px;
  font-weight: 100;
}

#info-temp {
  font-size: 72px;
  font-family: "bebas_neuebold";
}

@font-face {
  font-family: "bebas_neuebold";
  src: url("fonts/BebasNeue-Bold.ttf") format("truetype"),
    url("fonts/BebasNeue-Book.ttf") format("truetye"),
    url("fonts/BebasNeue-Light.ttf") format("truetype"),
    url("fonts/BebasNeue-Regular.ttf") format("truetype"),
    url("fonts/BebasNeue-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
